@import "tailwindcss";


:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --accent: #9CB24D;
  --test: #237e5f;
}

@layer base {
  html, body {
    @apply bg-[--background] text-[--foreground];
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
  }
  
  main {
    position: relative;
  }
  
  /* Fix for hero sections to prevent layout shifts, except for partners page */
  .hero-section:not(.partners-page .hero-section) {
    margin-top: 0 !important;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
